{% extends "base.j2" %}

{% block additional_nav -%}
{% from "macros.j2" import render_additional_nav with context %}
{{ render_additional_nav(resource) }}
{%- endblock %}

{% block main %}
{% if resource.meta.author %}<h5>{{ resource.meta.author|typogrify }}</h5>{% endif %}

{% filter markdown|typogrify %}
{{ resource.meta.citation }}
{%- if resource.meta.doi -%}
  <span class="acro">DOI:</span>&nbsp;<a href="http://dx.doi.org/{{ resource.meta.doi }}">{{ resource.meta.doi }}</a>.
{%- endif -%}
{% endfilter %}

<hr>
{% filter markdown|typogrify -%}
{% block abstract -%}{%- endblock %}
{%- endfilter %}

{% if resource.meta.pdf or resource.meta.comment %}
<div class="row clearfix">
{% if resource.meta.pdf %}
  <div class="two columns alpha">
    <a href="{{ media_url(resource.meta.pdf) }}" class="button">Download <span class="acro">PDF</span></a>
  </div>
{% endif %}
{% if resource.meta.comment %}
  <div class="ten columns omega smaller">
    {{ resource.meta.comment|markdown|typogrify }}
  </div>
{% endif %}
</div>
{% endif %}
{% endblock main %}
